:root {
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --grey: #6b7280;
  --pink: #ec4899;
  --purple: #f5c9f0;
  --light: #eee;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #fff;
  background-image: url("../../assets//image/background.png");
}

.Header {
  width: 100%;
  height: auto;

  margin-top: 2%;
  padding-top: 1%;
}

.Image {
  margin-top: 5%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  justify-content: center;
}

.Name {
  margin-top: 5%;
  height: auto;
  color: #41784f;
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  margin-bottom: -1.5rem;
}

.Biography {
  margin-top: 2%;
  height: auto;
  color: #41784f;
  text-align: center;
  font-weight: bold;
  font-size: medium;
  vertical-align: bottom;
  width: 100%;
}

.Avatar {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  text-align: center;
  margin-bottom: -1rem;
}

.social-platform-list {
  border: 1px solid #41784f;
  padding: 1rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.icon {
  height: 100%;
  margin: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  width: auto;
  height: 100%;
  color: #41784f;
  font-weight: bold;
  display: inline-block;
  margin: 0 auto;
}

.url {
  text-decoration: none;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Body {
  width: 40%;
  height: auto;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
}

::-webkit-scrollbar{
  width: 25px ;
}


/* Mobile: width < 714px */
@media only screen and (max-width: 44.625rem) {
  .Body {
    width: 80%;
  }


}
